html{
	width: 100%;
	height: 100%;
}
body{
	color: black;
	background-color: black;	 
	width:100%;
	height:100%;
	margin: auto;
	text-align: center;
}

.container{
	background-color: silver;
	width:70%;
	height:100%;
	margin: auto;
	text-align: center;
}

header{
	background-color: white !important;
	width:90%;
	height:55%;
	margin: auto;
	text-align: center;
}
.timeline{
	width: 80%;
	height: 80%;
	background-color: silver;
	text-align: center;
	margin-left: 10%;
}
#down{
		background-color: silver;
}
